.product {
    background: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

.product:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.product h2 {
    font-size: 13px;
    margin-bottom: 20px;
}

.product h3 {
    font-size: 13px;
    margin-top: 20px;
}

.product p {
    font-size: 13px;
    align-self: flex-start;
}

.product-list {
    background: rgb(247, 249, 253);
    padding: 20px;
}

.product-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-description h3 {
    font-size: 12px;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-info h3 {
    font-size: 12px;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    font-weight: bold;
}

.wishlist-button {
    background: transparent;
    border: 2px solid transparent; /* Default border transparent */
    color: black;
}

.cart-button {
    background: rgb(243, 243, 246);
    border: 2px solid rgb(243, 243, 246);
    color: black;
    border-radius: 8px;
    padding: 5px 10px;
    width: 90%;
}
  