.product-list {
    padding: 20px;
    background-color: transparent;
}

.product {
    background: transparent;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    height: 100%;
    /* This ensures that the product container takes full height */
    min-height: 400px;
    /* Set a minimum height to ensure all products are at least this tall */
    box-sizing: border-box;
    /* To account for padding inside the height calculation */
}

.product-image {
    max-width: 100%;
    border-radius: 5px;
}

.product:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-description h3 {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: #555;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.product-price {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.wishlist-button {
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
}

.cart-button {
    background: #f3f3f6;
    border: 2px solid #f3f3f6;
    color: #333;
    border-radius: 8px;
    padding: 8px 16px;
    width: 90%;
    cursor: pointer;
    transition: background 0.3s;
}

.cart-button:hover {
    background-color: #e0e0e0;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.no-products {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #888;
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-list {
        padding: 10px;
    }

    .product {
        padding: 15px;
        min-height: 350px;
        /* Adjust minimum height for smaller screens */
    }

    .product-name {
        font-size: 14px;
    }

    .product-price {
        font-size: 12px;
    }

    .cart-button {
        width: 100%;
    }
}