.category-name {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
}

.category-list .results-count {
    padding-top: 20px;
    padding-right: 20px;
}