.shop {
    display: grid;
    justify-items: center;
    grid-auto-flow: dense;
    padding-left: 80px;
    padding-right: 80px;
    background-color:lightgray;
}

.product {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-image {
    max-width: 80%;
    height: auto;
}

.product-image {
    max-width: 40%;
    height: auto;
}  

.product .description {
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h1 {
    font-family: "Courier New", sans-serif;
}

h2 {
    font-family: "Courier New", sans-serif;
}

.product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}