.checkout-info {
    padding: 20px;
    text-align: left; /* Ensure the text is aligned to the left */
}

.right-align {
    text-align: right; /* Align text to the right */
}

.conditions {
    text-align: left;
    font-size: 10px;
}

.checkout-info .conditions {
    font-size: 10px;
}

.checkout-info .checkout-btn {
    font-size: 21px;
    background: rgb(0, 0, 0);
    width: 100%;

}

.checkout-info .summary-line {
    font-size: 15px;
}

.bold-header {
    font-weight: bolder;
    font-size: 50px;
}

.summary-line {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Align labels to the left and values to the right */
    margin-bottom: 10px; /* Space between lines */
}

.summary-value {
    text-align: right; /* Align values to the right */
}

.bold-large-text {
    font-weight: bold; /* Make the text bold */
}
  